<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_10_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Напишіть функцію `average_revenue(sales: list[float]) -> float`, яка приймає список значень продажу (в гривнях, доларах чи іншій валюті) і повертає *середній дохід*.
*Приклад вхідних даних:*

```python
sales = [15000.0, 18000.0, 12000.0, 22000.0]
```
*Приклад вихідних даних:*

```python
16750.0
```

In [4]:
sales = [15000.0, 18000.0, 12000.0, 22000.0]

# True, not True -> False, not False -> True

def average_revenue(sales: list[float]) -> float:
    if not sales:
        return None

    return sum(sales) / len(sales)

average_revenue(sales)

16750.0

In [6]:
print(average_revenue([]))

None

In [3]:
average_revenue([10000.0, None])

TypeError: unsupported operand type(s) for +: 'float' and 'NoneType'

**Task 2.** Напишіть функцію `is_prime(n: int) -> bool`, яка повертає `True`, якщо число `n` є *простим*, інакше — `False`.
Просте число — це ціле число більше за 1, яке має *рівно два дільники*: 1 і саме себе.

*Приклад вхідних даних:*

```python
is_prime(7)
is_prime(10)
```

*Приклад вихідних даних:*

```python
True
False
```

In [8]:
def is_prime(n: int) -> bool:
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

is_prime(10)

False

In [ ]:
n = int(input('n>>'))
for i in range(2, n):
  if n % i == 0:
    print(False)
    break
else:
  print(True)

**Task 3.** Напишіть функцію `above_threshold(data: list[float], threshold: float) -> int`, яка повертає кількість елементів у списку `data`, що перевищують значення `threshold`.

*Приклад вхідних даних:*

```python
data = [10.0, 15.5, 20.0, 8.0]
threshold = 12.0
```

*Приклад вихідних даних:*

```python
2
```

In [10]:
def above_threshold(data: list[float], threshold: float) -> int:
  count = 0
  for item in data:
    if item > threshold:
      count += 1
  return count

data = [10.0, 15.5, 20.0, 8.0]
threshold = 12.0
print(above_threshold(data, threshold))

2

**Task 4.** Напишіть функцію `purchases_by_user(transactions: list[tuple[str, str]]) -> dict[str, set[str]]`, яка за списком транзакцій (ім’я покупця, товар) повертає словник, де ключ — ім’я покупця, а значення — множина назв придбаних товарів.

*Приклад вхідних даних:*

```python
transactions = [
    ("Alice", "Book"),
    ("Alice", "Pen"),
    ("Bob", "Book")
]
```

*Приклад вихідних даних:*

```python
{"Alice": {"Book", "Pen"}, "Bob": {"Book"}}
```

In [13]:
from collections import defaultdict

def purchases_by_user(transactions: list[tuple[str, str]]) -> dict[str, set[str]]:
    purchases = defaultdict(set)
    for user, item in transactions:
        purchases[user].add(item)
    return purchases

transactions = [
    ("Alice", "Book"),
    ("Alice", "Pen"),
    ("Bob", "Book")
]
print(*purchases_by_user(transactions).items(), sep='\n')

('Alice', {'Book', 'Pen'})
('Bob', {'Book'})

**Task 5.** Напишіть функцію `filter_orders_by_price(orders: list[dict], min_price: float, max_price: float) -> list[dict]`, яка повертає список замовлень, у яких ціна входить у діапазон \[min\_price, max\_price].

*Приклад вхідних даних:*

```python
orders = [
    {"item": "Book", "price": 12.5},
    {"item": "Pen", "price": 2.0},
    {"item": "Bag", "price": 25.0}
]
min_price = 5.0
max_price = 20.0
```

*Приклад вихідних даних:*

```python
[{"item": "Book", "price": 12.5}]
```

In [14]:
def filter_orders_by_price(orders: list[dict], min_price: float, max_price: float) -> list[dict]:
    return [order for order in orders if min_price <= order['price'] <= max_price]

orders = [
    {"item": "Book", "price": 12.5},
    {"item": "Pen", "price": 2.0},
    {"item": "Bag", "price": 25.0}
]
min_price = 5.0
max_price = 20.0

print(filter_orders_by_price(orders, min_price, max_price))

[{'item': 'Book', 'price': 12.5}]

**Task 6.** Напишіть функцію `group_customers_by_country(customers: list[dict]) -> dict[str, list[str]]`, яка за списком клієнтів повертає словник, де ключ — країна, а значення — список імен клієнтів з цієї країни.

*Приклад вхідних даних:*

```python
customers = [
    {"name": "Alice", "country": "USA"},
    {"name": "Bob", "country": "Germany"},
    {"name": "Charlie", "country": "USA"}
]
```

*Приклад вихідних даних:*

```python
{"USA": ["Alice", "Charlie"], "Germany": ["Bob"]}
```

In [17]:
from collections import defaultdict

def group_customers_by_country(customers: list[dict]) -> dict[str, list[str]]:
    grouped_customers = defaultdict(list)
    for customer in customers:
        grouped_customers[customer['country']].append(customer['name'])
    return grouped_customers

customers = [
    {"name": "Alice", "country": "USA"},
    {"name": "Bob", "country": "Germany"},
    {"name": "Charlie", "country": "USA"}
]

print(group_customers_by_country(customers))

defaultdict(<class 'list'>, {'USA': ['Alice', 'Charlie'], 'Germany': ['Bob']})

**Task 7.** Напишіть функцію `top_n_items(sales: dict[str, int], n: int) -> list[str]`, яка повертає список з `n` товарів, які мають найбільшу кількість продажів.

*Приклад вхідних даних:*

```python
sales = {"Book": 100, "Pen": 75, "Bag": 50}
n = 2
```

*Приклад вихідних даних:*

```python
["Book", "Pen"]
```

In [19]:
def top_n_items(sales: dict[str, int], n: int) -> list[str]:
    return sorted(sales, key=sales.get, reverse=True)[:n]

sales = {"Book": 100, "Pen": 75, "Bag": 50}
n = 2

print(top_n_items(sales, n))

['Book', 'Pen']

**Task 8.** Напишіть функцію `count_keyword_occurrences(reviews: list[str], keyword: str) -> int`, яка підраховує, скільки разів ключове слово зустрічається в списку відгуків.
Пошук виконується без урахування регістру.

*Приклад вхідних даних:*

```python
reviews = ["Швидка доставка", "Доставка була повільною", "Відсутня доставка"]
keyword = "доставка"
```

*Приклад вихідних даних:*

```python
3
```

In [22]:
# nltk

def count_keyword_occurrences(reviews: list[str], keyword: str) -> int:
    count = 0
    for review in reviews:
        if keyword.lower().strip() in review.lower():
            count += 1
    return count

reviews = ["Швидка доставка доставка", "Доставка була повільною", "Відсутня доставка"]
keyword = "доставка"

print(count_keyword_occurrences(reviews, keyword))

print(count_keyword_occurrences(reviews, keyword))

3
3

In [21]:
# nltk

def count_keyword_occurrences(reviews: list[str], keyword: str) -> int:
    count = 0
    reviews = ' '.join(reviews).split()
    for review in reviews:
        if keyword.lower().strip() in review.lower():
            count += 1
    return count

reviews = ["Швидка доставка доставка", "Доставка була повільною", "Відсутня доставка"]
keyword = "доставка"

print(count_keyword_occurrences(reviews, keyword))

print(count_keyword_occurrences(reviews, keyword))

4
4

In [23]:
# nltk

def count_keyword_occurrences(reviews: list[str], keyword: str) -> int:
    count = 0

    for review in reviews:
        count += review.lower().count(keyword.lower().strip())
    return count

reviews = ["Швидка доставка доставка", "Доставка була повільною", "Відсутня доставка"]
keyword = "доставка"

print(count_keyword_occurrences(reviews, keyword))

print(count_keyword_occurrences(reviews, keyword))

4
4

**Task 9.** Напишіть функцію `median_salary(salaries: list[float]) -> float`, яка повертає медіанну зарплату зі списку значень.

*Приклад вхідних даних:*

```python
salaries = [12000.0, 11000.0, 14000.0, 13000.0, 15000.0]
```

*Приклад вихідних даних:*

```python
13000.0
```

In [24]:
def median_salary(salaries: list[float]) -> float:
    salaries = sorted(salaries)

    if len(salaries) % 2 == 1:
        return salaries[len(salaries) // 2]

    return (salaries[len(salaries) // 2 - 1] + salaries[len(salaries) // 2]) / 2

salaries = [12000.0, 11000.0, 14000.0, 13000.0, 15000.0]
print(median_salary(salaries))

13000.0