<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/cpython-projects/python_da_06_11_25/refs/heads/main/lesson_13_data.csv')
df

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs
10,10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

# STEP 1

In [30]:
df.columns.to_list()

['Unnamed: 0',
 'ID',
 'Name',
 'gender',
 'Age',
 'Salary ($)',
 'Hire Date',
 'Country',
 'Weight']

In [31]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [32]:
df.rename(columns={
  'ID': 'user_id',
  'Name': 'user_name',
  'Age': 'user_age',
  'Salary ($)': 'salary_usd',
  'Hire Date': 'hire_date',
  'Country': 'country',
  'Weight': 'user_weight'
}, inplace=True)

In [33]:
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs
10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

# STEP 2

In [34]:
df.duplicated().sum()

np.int64(2)

In [35]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
dtype: bool

In [36]:
df.drop_duplicates(inplace=True)

# STEP 3

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     object
 3   user_age     9 non-null      object
 4   salary_usd   8 non-null      float64
 5   hire_date    10 non-null     object
 6   country      10 non-null     object
 7   user_weight  10 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 720.0+ bytes

# STEP 4

In [38]:
df.gender.unique()

array(['F', 'M'], dtype=object)

In [39]:
df['gender'] = df.gender.astype('category')

In [40]:
df.country.unique()

array(['USA', 'U.S.A.', 'UK', 'United Kingdom', 'canada', 'Canada',
       'Germany', 'France', 'Brazil'], dtype=object)

In [41]:
df['country'] = df.country.str.title()

In [42]:
df['country'] = df.country.replace({
    'Usa': 'U.S.A.',
    'Uk': 'United Kingdom'
})

In [55]:
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight
0,1,Alice,F,25.0,50000.0,2023-01-10,U.S.A.,70kg
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,154lbs
2,3,Charlie,M,40.0,NaN,01/15/2021,United Kingdom,65kg
3,4,Dave,M,22.0,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,Canada,75kg
5,6,Frank,M,35.0,120000.0,08/10/2019,Canada,165lbs
6,7,George,M,29.0,NaN,2020-05-30,Germany,80kg
7,8,Hannah,F,33.0,150000.0,"July 4, 2018",France,180lbs
8,9,Isaac,M,45.0,200000.0,06-01-2017,France,90kg
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,200lbs

In [52]:
df.user_age.unique()

array([25., 30., 40., 22., nan, 35., 29., 33., 45., 20.])

In [47]:
df['user_age'] = df.user_age.replace(
    {
        'Thirty': '30',
        'Twenty': '20'
    }
)

In [49]:
df['user_age'] = df.user_age.astype('int')

ValueError: cannot convert float NaN to integer

In [51]:
df['user_age'] = pd.to_numeric(df.user_age, errors='coerce')

In [54]:
df['user_name'] = df.user_name.str.title()

In [56]:
def convert_weight(item: str):
  weight = item.lower().strip()

  if 'kg' in weight:
    return float(weight.replace('kg', ''))

  if 'lbs' in weight:
    return float(weight.replace('lbs', '')) * 0.4535

  try:
    return float(weight)
  except:
    return None

In [57]:
df['user_weight_kg'] = df.user_weight.apply(convert_weight)

In [58]:
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight,user_weight_kg
0,1,Alice,F,25.0,50000.0,2023-01-10,U.S.A.,70kg,70.0000
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,154lbs,69.8390
2,3,Charlie,M,40.0,NaN,01/15/2021,United Kingdom,65kg,65.0000
3,4,Dave,M,22.0,70000.0,"March 1, 2020",United Kingdom,140lbs,63.4900
4,5,Eve,F,NaN,80000.0,2021-07-20,Canada,75kg,75.0000
5,6,Frank,M,35.0,120000.0,08/10/2019,Canada,165lbs,74.8275
6,7,George,M,29.0,NaN,2020-05-30,Germany,80kg,80.0000
7,8,Hannah,F,33.0,150000.0,"July 4, 2018",France,180lbs,81.6300
8,9,Isaac,M,45.0,200000.0,06-01-2017,France,90kg,90.0000
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,200lbs,90.7000

In [59]:
df['hire_date_new'] = pd.to_datetime(df.hire_date, errors='coerce')

In [60]:
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight,user_weight_kg,hire_date_new
0,1,Alice,F,25.0,50000.0,2023-01-10,U.S.A.,70kg,70.0000,2023-01-10
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,154lbs,69.8390,2022-12-05
2,3,Charlie,M,40.0,NaN,01/15/2021,United Kingdom,65kg,65.0000,NaT
3,4,Dave,M,22.0,70000.0,"March 1, 2020",United Kingdom,140lbs,63.4900,NaT
4,5,Eve,F,NaN,80000.0,2021-07-20,Canada,75kg,75.0000,2021-07-20
5,6,Frank,M,35.0,120000.0,08/10/2019,Canada,165lbs,74.8275,NaT
6,7,George,M,29.0,NaN,2020-05-30,Germany,80kg,80.0000,2020-05-30
7,8,Hannah,F,33.0,150000.0,"July 4, 2018",France,180lbs,81.6300,NaT
8,9,Isaac,M,45.0,200000.0,06-01-2017,France,90kg,90.0000,NaT
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,200lbs,90.7000,2016-09-15

In [62]:
from dateutil.parser import parse

df['hire_date_new'] = df.hire_date.apply(parse)
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight,user_weight_kg,hire_date_new
0,1,Alice,F,25.0,50000.0,2023-01-10,U.S.A.,70kg,70.0000,2023-01-10
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,154lbs,69.8390,2022-12-05
2,3,Charlie,M,40.0,NaN,01/15/2021,United Kingdom,65kg,65.0000,2021-01-15
3,4,Dave,M,22.0,70000.0,"March 1, 2020",United Kingdom,140lbs,63.4900,2020-03-01
4,5,Eve,F,NaN,80000.0,2021-07-20,Canada,75kg,75.0000,2021-07-20
5,6,Frank,M,35.0,120000.0,08/10/2019,Canada,165lbs,74.8275,2019-08-10
6,7,George,M,29.0,NaN,2020-05-30,Germany,80kg,80.0000,2020-05-30
7,8,Hannah,F,33.0,150000.0,"July 4, 2018",France,180lbs,81.6300,2018-07-04
8,9,Isaac,M,45.0,200000.0,06-01-2017,France,90kg,90.0000,2017-06-01
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,200lbs,90.7000,2016-09-15

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         10 non-null     int64
 1   user_name       10 non-null     object
 2   gender          10 non-null     category
 3   user_age        9 non-null      float64
 4   salary_usd      8 non-null      float64
 5   hire_date       10 non-null     object
 6   country         10 non-null     object
 7   user_weight     10 non-null     object
 8   user_weight_kg  10 non-null     float64
 9   hire_date_new   10 non-null     datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 934.0+ bytes

In [65]:
df['hire_date_new'] = pd.to_datetime(df.hire_date_new, errors='coerce')
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight,user_weight_kg,hire_date_new
0,1,Alice,F,25.0,50000.0,2023-01-10,U.S.A.,70kg,70.0000,2023-01-10
1,2,Bob,M,30.0,60000.0,2022-12-05,U.S.A.,154lbs,69.8390,2022-12-05
2,3,Charlie,M,40.0,NaN,01/15/2021,United Kingdom,65kg,65.0000,2021-01-15
3,4,Dave,M,22.0,70000.0,"March 1, 2020",United Kingdom,140lbs,63.4900,2020-03-01
4,5,Eve,F,NaN,80000.0,2021-07-20,Canada,75kg,75.0000,2021-07-20
5,6,Frank,M,35.0,120000.0,08/10/2019,Canada,165lbs,74.8275,2019-08-10
6,7,George,M,29.0,NaN,2020-05-30,Germany,80kg,80.0000,2020-05-30
7,8,Hannah,F,33.0,150000.0,"July 4, 2018",France,180lbs,81.6300,2018-07-04
8,9,Isaac,M,45.0,200000.0,06-01-2017,France,90kg,90.0000,2017-06-01
9,10,Jack,M,20.0,250000.0,2016-09-15,Brazil,200lbs,90.7000,2016-09-15

In [70]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [71]:
df

,user_id,user_name,gender,user_age,salary_usd,hire_date,country,user_weight,user_weight_kg,hire_date_new
0,1,Alice,F,25.00,50000.00,2023-01-10,U.S.A.,70kg,70.00,2023-01-10
1,2,Bob,M,30.00,60000.00,2022-12-05,U.S.A.,154lbs,69.84,2022-12-05
2,3,Charlie,M,40.00,NaN,01/15/2021,United Kingdom,65kg,65.00,2021-01-15
3,4,Dave,M,22.00,70000.00,"March 1, 2020",United Kingdom,140lbs,63.49,2020-03-01
4,5,Eve,F,NaN,80000.00,2021-07-20,Canada,75kg,75.00,2021-07-20
5,6,Frank,M,35.00,120000.00,08/10/2019,Canada,165lbs,74.83,2019-08-10
6,7,George,M,29.00,NaN,2020-05-30,Germany,80kg,80.00,2020-05-30
7,8,Hannah,F,33.00,150000.00,"July 4, 2018",France,180lbs,81.63,2018-07-04
8,9,Isaac,M,45.00,200000.00,06-01-2017,France,90kg,90.00,2017-06-01
9,10,Jack,M,20.00,250000.00,2016-09-15,Brazil,200lbs,90.70,2016-09-15

In [72]:
import warnings

warnings.filterwarnings('ignore')