<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_12_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Завантажте датасет Titanic ([https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv](https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv))

**Task 2.** Залиште тільки необхідні стовпці:
`'PassengerId', 'Name', 'Age', 'Sex', 'Survived', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Embarked'`

**Task 3.**
* Виведіть кількість рядків і стовпців
* Скільки унікальних значень у стовпці `Embarked`?
* Який максимальний і мінімальний вік пасажирів?

**Task 4.**
* Додайте стовпець `IsAlone`, у якому буде `True`, якщо пасажир подорожував один (`FamilySize == 1`), інакше `False`
* Перейменуйте стовпець `Sex` на `Gender`

**Task 5.**
* Виведіть усіх жінок, які подорожували в 1-му класі (`Pclass == 1`)
* Знайдіть чоловіків, які їхали з 2 або більше родичами (`FamilySize >= 3`) і не вижили
* Виведіть пасажирів, які заплатили за квиток більше 100

**Task 6.**
* Відсортуйте пасажирів за вартістю квитка у спадному порядку
* Виведіть 10 наймолодших пасажирів, які вижили
* Відсортуйте спочатку за `Pclass`, а потім за `Age` у зростаючому порядку

**Task 7.**
Чи впливає розмір сім’ї на шанс виживання?

**Task 8.**
Чи були відмінності у виживанні серед пасажирів з різними титулами (Mr, Mrs, Dr тощо)?