<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
DB_NAME = 'school.db'

In [24]:
conn = sqlite3.connect(DB_NAME)

In [4]:
conn

In [5]:
curr = conn.cursor()

In [9]:
create_student_table = """
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE NOT NULL,
    phone_number TEXT NOT NULL,
    email TEXT NOT NULL
);
"""

In [7]:
create_student_table

'\nCREATE TABLE IF NOT EXISTS students (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    first_name TEXT NOT NULL,\n    last_name TEXT NOT NULL, \n    date_of_birth DATE NOT NULL,\n    phone_number TEXT NOT NULL,\n    email TEXT NOT NULL,\n);\n'

In [10]:
curr.execute(create_student_table)

In [12]:
create_instructors_table = """
CREATE TABLE IF NOT EXISTS instructors (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL
);
"""

curr.execute(create_instructors_table)

In [15]:
create_courses_table = """
CREATE TABLE IF NOT EXISTS courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL
);
"""

curr.execute(create_courses_table)

In [16]:
create_groups_table = """
CREATE TABLE IF NOT EXISTS groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    course_id INTEGER NOT NULL,
    FOREIGN KEY (course_id) REFERENCES courses(id)
);
"""

curr.execute(create_groups_table)

In [17]:
create_students_in_groups_table = """
CREATE TABLE IF NOT EXISTS students_in_groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER NOT NULL,
    group_id INTEGER NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id)
    FOREIGN KEY (group_id) REFERENCES groups(id)
);
"""

curr.execute(create_students_in_groups_table)

In [18]:
create_instructors_in_groups_table = """
CREATE TABLE IF NOT EXISTS instructors_in_groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    instructor_id INTEGER NOT NULL,
    group_id INTEGER NOT NULL,
    FOREIGN KEY (instructor_id) REFERENCES instructors(id)
    FOREIGN KEY (group_id) REFERENCES groups(id)
);
"""

curr.execute(create_instructors_in_groups_table)

In [19]:
conn.close()

In [20]:
from google.colab import files

In [21]:
files.download('school.db')

In [22]:
import pandas as pd

In [25]:
conn = sqlite3.connect(DB_NAME)

In [26]:
df = pd.read_sql_query('SELECT * FROM students', conn)

In [27]:
df

Empty DataFrame
Columns: [id, first_name, last_name, date_of_birth, phone_number, email]
Index: []