<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_10_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Напишіть функцію `average_revenue(sales: list[float]) -> float`, яка приймає список значень продажу (в гривнях, доларах чи іншій валюті) і повертає *середній дохід*.
*Приклад вхідних даних:*

```python
sales = [15000.0, 18000.0, 12000.0, 22000.0]
```
*Приклад вихідних даних:*

```python
16750.0
```

**Task 2.** Напишіть функцію `is_prime(n: int) -> bool`, яка повертає `True`, якщо число `n` є *простим*, інакше — `False`.
Просте число — це ціле число більше за 1, яке має *рівно два дільники*: 1 і саме себе.

*Приклад вхідних даних:*

```python
is_prime(7)
is_prime(10)
```

*Приклад вихідних даних:*

```python
True
False
```

**Task 3.** Напишіть функцію `above_threshold(data: list[float], threshold: float) -> int`, яка повертає кількість елементів у списку `data`, що перевищують значення `threshold`.

*Приклад вхідних даних:*

```python
data = [10.0, 15.5, 20.0, 8.0]
threshold = 12.0
```

*Приклад вихідних даних:*

```python
2
```

**Task 4.** Напишіть функцію `purchases_by_user(transactions: list[tuple[str, str]]) -> dict[str, set[str]]`, яка за списком транзакцій (ім’я покупця, товар) повертає словник, де ключ — ім’я покупця, а значення — множина назв придбаних товарів.

*Приклад вхідних даних:*

```python
transactions = [
    ("Alice", "Book"),
    ("Alice", "Pen"),
    ("Bob", "Book")
]
```

*Приклад вихідних даних:*

```python
{"Alice": {"Book", "Pen"}, "Bob": {"Book"}}
```

**Task 5.** Напишіть функцію `filter_orders_by_price(orders: list[dict], min_price: float, max_price: float) -> list[dict]`, яка повертає список замовлень, у яких ціна входить у діапазон \[min\_price, max\_price].

*Приклад вхідних даних:*

```python
orders = [
    {"item": "Book", "price": 12.5},
    {"item": "Pen", "price": 2.0},
    {"item": "Bag", "price": 25.0}
]
min_price = 5.0
max_price = 20.0
```

*Приклад вихідних даних:*

```python
[{"item": "Book", "price": 12.5}]
```

**Task 6.** Напишіть функцію `group_customers_by_country(customers: list[dict]) -> dict[str, list[str]]`, яка за списком клієнтів повертає словник, де ключ — країна, а значення — список імен клієнтів з цієї країни.

*Приклад вхідних даних:*

```python
customers = [
    {"name": "Alice", "country": "USA"},
    {"name": "Bob", "country": "Germany"},
    {"name": "Charlie", "country": "USA"}
]
```

*Приклад вихідних даних:*

```python
{"USA": ["Alice", "Charlie"], "Germany": ["Bob"]}
```

**Task 7.** Напишіть функцію `top_n_items(sales: dict[str, int], n: int) -> list[str]`, яка повертає список з `n` товарів, які мають найбільшу кількість продажів.

*Приклад вхідних даних:*

```python
sales = {"Book": 100, "Pen": 75, "Bag": 50}
n = 2
```

*Приклад вихідних даних:*

```python
["Book", "Pen"]
```

**Task 8.** Напишіть функцію `count_keyword_occurrences(reviews: list[str], keyword: str) -> int`, яка підраховує, скільки разів ключове слово зустрічається в списку відгуків.
Пошук виконується без урахування регістру.

*Приклад вхідних даних:*

```python
reviews = ["Швидка доставка", "Доставка була повільною", "Відсутня доставка"]
keyword = "доставка"
```

*Приклад вихідних даних:*

```python
3
```

**Task 9.** Напишіть функцію `median_salary(salaries: list[float]) -> float`, яка повертає медіанну зарплату зі списку значень.

*Приклад вхідних даних:*

```python
salaries = [12000.0, 11000.0, 14000.0, 13000.0, 15000.0]
```

*Приклад вихідних даних:*

```python
13000.0
```