<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from decimal import Decimal

In [3]:
Decimal('0.3') * 2

Decimal('0.6')

In [4]:
Decimal('0.3') * 2.5

TypeError: unsupported operand type(s) for *: 'decimal.Decimal' and 'float'

In [5]:
Decimal('0.3') * Decimal('2.5')

Decimal('0.75')

In [ ]:
# int
# float
# complex
# bool

In [6]:
bool.__mro__

(bool, int, object)

In [7]:
int.__mro__

(int, object)

In [9]:
t = int(input('t>>'))

if t < 0:
    name = input('name>>')
    print(f'{name}, today is cold!')
print('Have a nice day!')

t>>-20
name>>Oleh
Oleh, today is cold!
Have a nice day!

In [10]:
t = int(input('t>>'))

if not (t < 0):
    name = input('name>>')
    print(f'{name}, today is cold!')
print('Have a nice day!')

t>>20
name>>Oleh
Oleh, today is cold!
Have a nice day!

In [13]:
t = int(input('t>>'))
name = input('name>>')

if t < 0:
   print(f'{name}, today is cold!')
else:
   print('It is not cold today!')
print('Have a nice day!')

t>>-20
name>>Oleh
Oleh, today is cold!
Have a nice day!

In [14]:
t = int(input('t>>'))


if t < -20:
    print('Very cold')
elif t < 0:
    print('Cold')
elif t < 20:
    print('Warm')
else:
    print('Hot')

print('Have a nice day!')

t>>6
Warm
Have a nice day!

In [15]:
x = 10

if x == 10:
  print(x)
  x = 0
elif x == 0:
  print(x)
  x = 100
else:
  print(x)
  x = 1000

print(x)

10
0

In [16]:
x = 10

if x == 10:
  print(x)
  x = 0

if x == 0:
  print(x)
  x = 100
else:
  print(x)
  x = 1000

print(x)

10
0
100

In [18]:
x = int(input('x>>'))

# [10; 100]

if x >= 10 and x <= 100:
    print('In')
else:
    print('Out')

x>>123
Out

In [ ]:
x = int(input('x>>'))

# [10; 100]

if 10 <= x <= 100:
    print('In')
else:
    print('Out')

In [19]:
x = int(input('x>>'))

# x not in [10; 100]

if x < 10 or x > 100:
    print('Out')
else:
    print('In')

x>>456
Out

In [20]:
x = int(input('x>>'))

# [10; 100]

if not 10 <= x <= 100:
    print('Out')
else:
    print('In')

x>>565
Out

In [ ]:
x = int(input('x>>'))

if x % 2:
  print('Odd')
else:
  print('Even')

In [24]:
text = input('text>>')

if not text:
  print('No text')

text>>

In [25]:
points = int(input('points>>'))


if points < 0 or points > 100:
  print('Error')
elif points <= 49:
  print('F')
elif points <= 59:
  print('E')
elif points <= 65:
  print('D')
elif points <= 75:
  print('C')
elif points <= 86:
  print('B')
else:
  print('A')

points>>99
A

In [27]:
x = int(input('x>>'))

if x % 2:
  res = 'Odd'
else:
  res = 'Even'

print(res)

x>>35
Odd

In [28]:
res = 'Odd' if x % 2 else 'Even'
print(res)

Odd

In [31]:
amount = 2000
res = amount * (1 - (0.1 if amount < 1000 else 0.2))
print(res)

1600.0

In [33]:
t = int(input('t>>'))
money = float(input('$>>'))

if t > 15 and money > 1000:
  print('Do it!')

t>>34
$>>3333
Do it!

In [38]:
x = 3
y = 5

In [39]:
x or y

3

In [41]:
bool(0 or '')

False

In [42]:
bool(3 or 5)

True