<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**–†–µ–≥—É–ª—è—Ä–Ω—ñ –≤–∏—Ä–∞–∑–∏** ‚Äî —Ü–µ —Ñ–æ—Ä–º–∞–ª—å–Ω–∞ –º–æ–≤–∞ –¥–ª—è –æ–ø–∏—Å—É —à–∞–±–ª–æ–Ω—ñ–≤ —É —Ç–µ–∫—Å—Ç—ñ.

–í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è –¥–ª—è:

* **–ø–æ—à—É–∫—É**
* **–≤–∏—Ç—è–≥–∞–Ω–Ω—è**
* **–∑–∞–º—ñ–Ω–∏**
* **–≤–∞–ª—ñ–¥–∞—Ü—ñ—ó** —Ñ—Ä–∞–≥–º–µ–Ω—Ç—ñ–≤ —Ç–µ–∫—Å—Ç—É.

**–ü—Ä–∏–∫–ª–∞–¥–∏ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–∏—Ö –∑–∞–≤–¥–∞–Ω—å:**

* –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏, —â–æ –∑–Ω–∞—á–µ–Ω–Ω—è ‚Äî email
* –í–∏—Ç—è–≥—Ç–∏ –¥–æ–º–µ–Ω –∑ email
* –û—á–∏—Å—Ç–∏—Ç–∏ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É –≤—ñ–¥ –∑–∞–π–≤–∏—Ö —Å–∏–º–≤–æ–ª—ñ–≤
* –ó–Ω–∞–π—Ç–∏ –ª–∏—à–µ —Ç—ñ —Ä—è–¥–∫–∏, –¥–µ –∑–≥–∞–¥—É—î—Ç—å—Å—è –ø–æ–¥—ñ—è
* –í–∏—Ç—è–≥—Ç–∏ –¥–∞—Ç—É –∑ —Ä—è–¥–∫–∞

## –ë–ê–ó–û–í–Ü –ï–õ–ï–ú–ï–ù–¢–ò –†–ï–ì–£–õ–Ø–†–ù–ò–• –í–ò–†–ê–ó–Ü–í

–†–µ–≥—É–ª—è—Ä–Ω—ñ –≤–∏—Ä–∞–∑–∏ —Å–∫–ª–∞–¥–∞—é—Ç—å—Å—è –∑:

* **–°–∏–º–≤–æ–ª—ñ–≤-–∫–ª–∞—Å—ñ–≤** (—â–æ —à—É–∫–∞—Ç–∏)
* **–ö–≤–∞–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä—ñ–≤** (—Å–∫—ñ–ª—å–∫–∏ —Ä–∞–∑—ñ–≤)
* **–ü–æ–∑–∏—Ü—ñ–π–Ω–∏—Ö —Å–∏–º–≤–æ–ª—ñ–≤** (–¥–µ —Å–∞–º–µ)
* **–ì—Ä—É–ø—É–≤–∞–Ω–Ω—è —Ç–∞ –ª–æ–≥—ñ–∫–∏** (–∞–±–æ, –º–Ω–æ–∂–∏–Ω–∏, –≥—Ä—É–ø–∏)
* **–ï–∫—Ä–∞–Ω—ñ–∑–∞—Ü—ñ—ó —Å–ø–µ—Ü—Å–∏–º–≤–æ–ª—ñ–≤**

### I. –°–∏–º–≤–æ–ª–∏-–∫–ª–∞—Å–∏ (—â–æ —à—É–∫–∞—Ç–∏)

| –í–∏—Ä–∞–∑ | –ù–∞–∑–≤–∞     | –ó–Ω–∞—á–µ–Ω–Ω—è                         | –ü—Ä–∏–∫–ª–∞–¥                 |
| ----- | --------- | -------------------------------- | ----------------------- |
| `\d`  | digit     | —Ü–∏—Ñ—Ä–∞ (0‚Äì9)                      | `\d+` ‚Äî –æ–¥–Ω–∞ –∞–±–æ –±—ñ–ª—å—à–µ |
| `\D`  | not digit | –≤—Å–µ, –∫—Ä—ñ–º —Ü–∏—Ñ—Ä                   | `\D+` ‚Äî –ª–∏—à–µ —Ç–µ–∫—Å—Ç      |
| `\w`  | word      | –ª—ñ—Ç–µ—Ä–∞, —Ü–∏—Ñ—Ä–∞ –∞–±–æ `_`            | `\w+` ‚Äî —Å–ª–æ–≤–æ           |
| `\W`  | not word  | –≤—Å–µ, –∫—Ä—ñ–º `\w`                   | `\W+` ‚Äî –ø—Ä–æ–±—ñ–ª–∏, –∑–Ω–∞–∫–∏  |
| `\s`  | space     | –ø—Ä–æ–±—ñ–ª, —Ç–∞–±—É–ª—è—Ü—ñ—è, –ø–µ—Ä–µ–Ω–æ—Å —Ä—è–¥–∫–∞ | `\s+` ‚Äî —Ä–æ–∑–¥—ñ–ª—å–Ω–∏–∫–∏     |
| `\S`  | not space | –Ω–µ –ø—Ä–æ–±—ñ–ª                        | `\S+` ‚Äî —â—ñ–ª—å–Ω–∏–π —Ç–µ–∫—Å—Ç   |

üìå **–ó–∞—É–≤–∞–∂–µ–Ω–Ω—è:**

* `\w` –Ω–µ –≤–∫–ª—é—á–∞—î –∫–∏—Ä–∏–ª–∏—Ü—é. –î–ª—è —É–∫—Ä–∞—ó–Ω—Å—å–∫–æ–≥–æ —Ç–µ–∫—Å—Ç—É –∫—Ä–∞—â–µ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏: `[–∞-—è–ê-–Ø—ë–Åa-zA-Z0-9_]`.

### II. –ü–æ–∑–∏—Ü—ñ–π–Ω—ñ —Å–∏–º–≤–æ–ª–∏ (–¥–µ —à—É–∫–∞—Ç–∏)

| –°–∏–º–≤–æ–ª | –ó–Ω–∞—á–µ–Ω–Ω—è      | –ü—Ä–∏–∫–ª–∞–¥                          |
| ------ | ------------- | -------------------------------- |
| `^`    | –ø–æ—á–∞—Ç–æ–∫ —Ä—è–¥–∫–∞ | `^ID` ‚Äî –ø–æ—á–∏–Ω–∞—î—Ç—å—Å—è –∑ "ID"       |
| `$`    | –∫—ñ–Ω–µ—Ü—å —Ä—è–¥–∫–∞  | `.com$` ‚Äî –∑–∞–∫—ñ–Ω—á—É—î—Ç—å—Å—è –Ω–∞ ".com" |
| `\b`   | –º–µ–∂–∞ —Å–ª–æ–≤–∞    | `\bcat\b` ‚Äî –ª–∏—à–µ —Å–ª–æ–≤–æ "cat"     |
| `\B`   | –Ω–µ –º–µ–∂–∞ —Å–ª–æ–≤–∞ | `\Bcat\B` ‚Äî –≤—Å–µ—Ä–µ–¥–∏–Ω—ñ —Å–ª–æ–≤–∞      |

### III. –ö–≤–∞–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä–∏ (—Å–∫—ñ–ª—å–∫–∏ —Ä–∞–∑—ñ–≤ –∑—É—Å—Ç—Ä—ñ—á–∞—î—Ç—å—Å—è)

| –í–∏—Ä–∞–∑   | –ó–Ω–∞—á–µ–Ω–Ω—è             | –ü—Ä–∏–∫–ª–∞–¥                            |
| ------- | -------------------- | ---------------------------------- |
| `*`     | 0 –∞–±–æ –±—ñ–ª—å—à–µ —Ä–∞–∑—ñ–≤   | `\d*` ‚Äî 0 —ñ –±—ñ–ª—å—à–µ —Ü–∏—Ñ—Ä            |
| `+`     | 1 –∞–±–æ –±—ñ–ª—å—à–µ —Ä–∞–∑—ñ–≤   | `\d+` ‚Äî –º—ñ–Ω—ñ–º—É–º 1 —Ü–∏—Ñ—Ä–∞            |
| `?`     | 0 –∞–±–æ 1 —Ä–∞–∑          | `s?` ‚Äî –ª—ñ—Ç–µ—Ä–∞ s –Ω–µ–æ–±–æ–≤‚Äô—è–∑–∫–æ–≤–∞      |
| `{n}`   | —Ä—ñ–≤–Ω–æ n —Ä–∞–∑—ñ–≤        | `\d{4}` ‚Äî 4 —Ü–∏—Ñ—Ä–∏ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —Ä—ñ–∫) |
| `{n,}`  | –≤—ñ–¥ n —Ä–∞–∑—ñ–≤ —ñ –±—ñ–ª—å—à–µ | `\d{2,}` ‚Äî –≤—ñ–¥ –¥–≤–æ—Ö —Ü–∏—Ñ—Ä           |
| `{n,m}` | –≤—ñ–¥ n –¥–æ m —Ä–∞–∑—ñ–≤     | `\d{2,4}` ‚Äî 2‚Äì4 —Ü–∏—Ñ—Ä–∏              |

### IV. –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è, –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞ —Ç–∞ –º–Ω–æ–∂–∏–Ω–∏

**1. –î—É–∂–∫–∏ `()` ‚Äî –≥—Ä—É–ø—É–≤–∞–Ω–Ω—è**

–í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è **–≥—Ä—É–ø**, –∑—Ä—É—á–Ω–æ –∑ `str.extract()`:

* `(\d{4})-(\d{2})-(\d{2})` ‚Äî –≤–∏—Ç—è–≥–∞—î –¥–∞—Ç—É (—Ä—ñ–∫, –º—ñ—Å—è—Ü—å, –¥–µ–Ω—å)
* –í pandas —Å—Ç–≤–æ—Ä—é—é—Ç—å—Å—è –æ–∫—Ä–µ–º—ñ —Å—Ç–æ–≤–ø—Ü—ñ –ø–æ –≥—Ä—É–ø–∞—Ö

**2. –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞ `|` ‚Äî –∞–±–æ**

* `cat|dog|bird` ‚Äî –æ–¥–Ω–µ –∑ —Å–ª—ñ–≤
* `(http|https)://` ‚Äî –±—É–¥—å-—è–∫–∏–π –ø—Ä–æ—Ç–æ–∫–æ–ª

**3. –ö–≤–∞–¥—Ä–∞—Ç–Ω—ñ –¥—É–∂–∫–∏ `[]` ‚Äî –º–Ω–æ–∂–∏–Ω–∏ —Å–∏–º–≤–æ–ª—ñ–≤**

| –í–∏—Ä–∞–∑    | –ó–Ω–∞—á–µ–Ω–Ω—è                    | –ü—Ä–∏–∫–ª–∞–¥             |
| -------- | --------------------------- | ------------------- |
| `[abc]`  | –æ–¥–∏–Ω —ñ–∑ —Å–∏–º–≤–æ–ª—ñ–≤ a, b –∞–±–æ c | `[aeiou]` ‚Äî –≥–æ–ª–æ—Å–Ω—ñ |
| `[a-z]`  | –¥—ñ–∞–ø–∞–∑–æ–Ω                    | `[0-9]` ‚Äî —Ü–∏—Ñ—Ä–∏     |
| `[^a-z]` | –≤—Å–µ, –∫—Ä—ñ–º –≤–∫–∞–∑–∞–Ω–∏—Ö          | `[^0-9]` ‚Äî –Ω–µ —Ü–∏—Ñ—Ä–∏ |

### V. –ï–∫—Ä–∞–Ω—ñ–∑–∞—Ü—ñ—è —Å–ø–µ—Ü—Å–∏–º–≤–æ–ª—ñ–≤ (Escape)

–†–µ–≥—É–ª—è—Ä–Ω—ñ –≤–∏—Ä–∞–∑–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å **—Å–ø–µ—Ü—Å–∏–º–≤–æ–ª–∏**, —è–∫—ñ –ø–æ—Ç—Ä—ñ–±–Ω–æ –µ–∫—Ä–∞–Ω—É–≤–∞—Ç–∏ `\`, —è–∫—â–æ —Ö–æ—á–µ—à —à—É–∫–∞—Ç–∏ —ó—Ö –±—É–∫–≤–∞–ª—å–Ω–æ:

| –°–∏–º–≤–æ–ª                      | –ü—Ä–∏–∑–Ω–∞—á–µ–Ω–Ω—è       |
| --------------------------- | ----------------- |
| `\.`                        | –∫—Ä–∞–ø–∫–∞            |
| `\*`                        | –∑—ñ—Ä–æ—á–∫–∞           |
| `\\`                        | –∑–≤–æ—Ä–æ—Ç–Ω–∏–π —Å–ª–µ—à    |
| `\+`, `\?`, `\(`, `\)` —Ç–æ—â–æ | —Ç–∞–∫–æ–∂ –µ–∫—Ä–∞–Ω—É—é—Ç—å—Å—è |

**–ü—Ä–∏–∫–ª–∞–¥:**
`r"\.\w+"` ‚Äî —à—É–∫–∞—î –∫—Ä–∞–ø–∫—É —Ç–∞ —Å–ª–æ–≤–æ –ø—ñ—Å–ª—è –Ω–µ—ó, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥: `.txt`, `.csv`.

## –ü—Ä–∏–∫–ª–∞–¥–∏

### 1. **–°–∏–º–≤–æ–ª—å–Ω—ñ –∫–ª–∞—Å–∏ (–ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ –≤–∏–∑–Ω–∞—á–µ–Ω—ñ —à–∞–±–ª–æ–Ω–∏)**

| –†–µ–≥—É–ª—è—Ä–∫–∞ | –©–æ –æ–∑–Ω–∞—á–∞—î                | –ü—Ä–∏–∫–ª–∞–¥ —Ä—è–¥–∫–∞                  | –ó–Ω–∞–π–¥–µ                                                                                                                                     |
| --------- | ------------------------- | ------------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------ |
| `\d`      | –¶–∏—Ñ—Ä–∞ (0‚Äì9)               | `'–í–∞—Ä—Ç—ñ—Å—Ç—å: 1200 –≥—Ä–Ω'`         | `'1'`, `'2'`, `'0'`, `'0'`                                                                                                                 |
| `\D`      | –ù–µ —Ü–∏—Ñ—Ä–∞                  | `'–í–∞—Ä—Ç—ñ—Å—Ç—å: 1200 –≥—Ä–Ω'`         | `'–í'`, `'–∞'`, `'—Ä'`, `'—Ç'`, `'—ñ'`, `'—Å'`, `'—Ç'`, `'—å'`, `':'`, `' '`                                                                       |
| `\w`      | –õ—ñ—Ç–µ—Ä–∞/—Ü–∏—Ñ—Ä–∞/–ø—ñ–¥–∫—Ä–µ—Å–ª–µ–Ω–Ω—è | `'user_id_42'`                 | `'u'`, `'s'`, `'e'`, `'r'`, `'_'`, `'i'`, `'d'`, `'_'`, `'4'`, `'2'`                                                                       |
| `\W`      | –í—Å–µ, –∫—Ä—ñ–º `\w`            | `'user#id!'`                   | `'#'`, `'!'`                                                                                                                               |
| `\s`      | –ü—Ä–æ–±—ñ–ª—å–Ω–∏–π —Å–∏–º–≤–æ–ª         | `'item1\titem2  item3\nitem4'` | `'\t'`, `' '`, `' '`, `'\n'`                                                                                                               |
| `\S`      | –ù–µ –ø—Ä–æ–±—ñ–ª                 | `'item1\titem2  item3\nitem4'` | `'i'`, `'t'`, `'e'`, `'m'`, `'1'`, `'i'`, `'t'`, `'e'`, `'m'`, `'2'`, `'i'`, `'t'`, `'e'`, `'m'`, `'3'`, `'i'`, `'t'`, `'e'`, `'m'`, `'4'` |

---

### 2. **–Ø–≤–Ω—ñ —Å–∏–º–≤–æ–ª–∏**

| –†–µ–≥—É–ª—è—Ä–∫–∞ | –©–æ –æ–∑–Ω–∞—á–∞—î                  | –ü—Ä–∏–∫–ª–∞–¥             | –†–µ–∑—É–ª—å—Ç–∞—Ç                  |
| --------- | --------------------------- | ------------------- | -------------------------- |
| `.`       | –ë—É–¥—å-—è–∫–∏–π —Å–∏–º–≤–æ–ª, –∫—Ä—ñ–º `\n` | `'a1#b'`            | `'a'`, `'1'`, `'#'`, `'b'` |
| `\.`      | –ë—É–∫–≤–∞–ª—å–Ω–æ –∫—Ä–∞–ø–∫–∞            | `'v1.2 file.txt'`   | `'.'`, `'.'`               |
| `\\`      | –ë—É–∫–≤–∞–ª—å–Ω–æ –∑–≤–æ—Ä–æ—Ç–Ω–∏–π —Å–ª–µ—à    | `'C:\\Users\\Oleh'` | `'\\'`, `'\\'`             |

---

### 3. **–ö–≤–∞–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä–∏ (–ø–æ–≤—Ç–æ—Ä–∏)**

| –†–µ–≥—É–ª—è—Ä–∫–∞ | –û–ø–∏—Å             | –ü—Ä–∏–∫–ª–∞–¥    | –ó–Ω–∞–π–¥–µ                  |
| --------- | ---------------- | ---------- | ----------------------- |
| `a*`      | 0 –∞–±–æ –±—ñ–ª—å—à–µ `a` | `'caaaat'` | `'aaaa'`                |
| `a+`      | 1 –∞–±–æ –±—ñ–ª—å—à–µ `a` | `'caaaat'` | `'aaaa'`                |
| `a?`      | 0 –∞–±–æ 1 `a`      | `'caaaat'` | `'a'` (–ø–µ—Ä—à–µ –≤—Ö–æ–¥–∂–µ–Ω–Ω—è) |
| `a{3}`    | –†—ñ–≤–Ω–æ 3 `a`      | `'aaaab'`  | `'aaa'`                 |
| `a{2,4}`  | –í—ñ–¥ 2 –¥–æ 4 `a`   | `'aaaaaa'` | `'aaaa'`                |
| `a{2,}`   | 2 —ñ –±—ñ–ª—å—à–µ `a`   | `'aaab'`   | `'aaa'`                 |

---

### 4. **–ì—Ä—É–ø–∏ —Ç–∞ –¥—ñ–∞–ø–∞–∑–æ–Ω–∏**

| –†–µ–≥—É–ª—è—Ä–∫–∞  | –©–æ –æ–∑–Ω–∞—á–∞—î                    | –ü—Ä–∏–∫–ª–∞–¥ —Ä—è–¥–∫–∞ | –†–µ–∑—É–ª—å—Ç–∞—Ç                                |
| ---------- | ----------------------------- | ------------- | ---------------------------------------- |
| `[abc]`    | –û–¥–∏–Ω —Å–∏–º–≤–æ–ª: a, b –∞–±–æ c       | `'ball'`      | `'b'`, `'a'`                                    |
| `[^abc]`   | –í—Å–µ, –∫—Ä—ñ–º a, b, c             | `'dog'`       | `'d'`, `'o'`, `'g'`                      |
| `[a-z]`    | –ë—É–¥—å-—è–∫–∞ –º–∞–ª–∞ –ª–∞—Ç–∏–Ω—Å—å–∫–∞ –±—É–∫–≤–∞ | `'data2025'`  | `'d'`, `'a'`, `'t'`, `'a'`               |
| `[0-9]`    | –¶–∏—Ñ—Ä–∏ –≤—ñ–¥ 0 –¥–æ 9              | `'v2025'`     | `'2'`, `'0'`, `'2'`, `'5'`               |
| `[A-Za-z]` | –ë—É–¥—å-—è–∫–∞ –ª–∞—Ç–∏–Ω—Å—å–∫–∞ –±—É–∫–≤–∞      | `'UserID'`    | `'U'`, `'s'`, `'e'`, `'r'`, `'I'`, `'D'` |

---

### 5. **–ì—Ä—É–ø—É–≤–∞–Ω–Ω—è —Ç–∞ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∏**

| –†–µ–≥—É–ª—è—Ä–∫–∞ | –©–æ –æ–∑–Ω–∞—á–∞—î     | –ü—Ä–∏–∫–ª–∞–¥                    | –†–µ–∑—É–ª—å—Ç–∞—Ç            |                            |                  |
| --------- | -------------- | -------------------------- | -------------------- | -------------------------- | ---------------- |
| `(abc)`   | –ì—Ä—É–ø–∞ —Å–∏–º–≤–æ–ª—ñ–≤ | `'abcabc'`                 | `'abc'`, `'abc'`     |                            |                  |
| \`(cat    | dog            | bird)\`                    | –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞         | `'I have a dog and a cat'` | `'dog'`, `'cat'` |
| \`(http   | https)://\`    | –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞ –¥–ª—è –ø—Ä–æ—Ç–æ–∫–æ–ª—É | `'https://site.com'` | `'https://'`               |                  |

---

### 6. **–Ø–∫–æ—Ä—ñ (–º–µ–∂—ñ)**

| –†–µ–≥—É–ª—è—Ä–∫–∞ | –©–æ –æ–∑–Ω–∞—á–∞—î    | –ü—Ä–∏–∫–ª–∞–¥            | –†–µ–∑—É–ª—å—Ç–∞—Ç |
| --------- | ------------- | ------------------ | --------- |
| `^abc`    | –ü–æ—á–∞—Ç–æ–∫ —Ä—è–¥–∫–∞ | `'abcdef'`         | `'abc'`   |
| `abc$`    | –ö—ñ–Ω–µ—Ü—å —Ä—è–¥–∫–∞  | `'zzzabc'`         | `'abc'`   |
| `\bcat\b` | –°–ª–æ–≤–æ —Ü—ñ–ª–∫–æ–º  | `'a cat in a hat'` | `'cat'`   |

---

# –ü—Ä–∏–∫–ª–∞–¥–∏

## 1. **–û—á–∏—Å—Ç–∫–∞ —Ç–µ–ª–µ—Ñ–æ–Ω–Ω–∏—Ö –Ω–æ–º–µ—Ä—ñ–≤**

–£ –¥–∞—Ç–∞—Å–µ—Ç—ñ —î "—Å–∏—Ä—ñ" –Ω–æ–º–µ—Ä–∏:

```python
import pandas as pd

df = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "phone": ["+380 67 123-45-67", "0671234567", "38067123-45-67", "(067) 123 45 67"]
})
```

**–ó–∞–¥–∞—á–∞:** –ø—Ä–∏–≤–µ—Å—Ç–∏ —Ç–µ–ª–µ—Ñ–æ–Ω–∏ –¥–æ —î–¥–∏–Ω–æ–≥–æ —Ñ–æ—Ä–º–∞—Ç—É `+380XXXXXXXXX`.

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "phone": ["+380 67 123-45-67", "0671234567", "38067123-45-67", "(067) 123 45 67"]
})

In [ ]:
df

   customer_id              phone
0            1  +380 67 123-45-67
1            2         0671234567
2            3     38067123-45-67
3            4    (067) 123 45 67

In [ ]:
df['phone'] = df['phone'].str.replace(r'\D', '', regex=True)
df['phone']

0    380671234567
1      0671234567
2    380671234567
3      0671234567
Name: phone, dtype: object

In [ ]:
df['phone'] = df.phone.apply(lambda item: '+380' + item[-9:])
df['phone']

0    +380671234567
1    +380671234567
2    +380671234567
3    +380671234567
Name: phone, dtype: object

### 2. **–í–∏–¥—ñ–ª–µ–Ω–Ω—è –¥–æ–º–µ–Ω—É –∑ email**

```python
df = pd.DataFrame({
    "email": ["user1@gmail.com", "manager@company.org", "test123@yahoo.com"]
})
```

**–ó–∞–¥–∞—á–∞:** –æ—Ç—Ä–∏–º–∞—Ç–∏ —Ç—ñ–ª—å–∫–∏ –¥–æ–º–µ–Ω–∏ (`gmail.com`, `company.org`...).

In [ ]:
df = pd.DataFrame({
    "email": ["user1@gmail.com", "manager@company.org", "test123@yahoo.com"]
})
df

                 email
0      user1@gmail.com
1  manager@company.org
2    test123@yahoo.com

In [ ]:
df['email_domain'] = df['email'].str.extract(r'@(.+$)')
df['email_domain']

0      gmail.com
1    company.org
2      yahoo.com
Name: email_domain, dtype: object

## 3. **–§—ñ–ª—å—Ç—Ä–∞—Ü—ñ—è —Ä—è–¥–∫—ñ–≤ –ø–æ —à–∞–±–ª–æ–Ω—É**

–Ñ —Å–ø–∏—Å–æ–∫ –∑–∞–º–æ–≤–ª–µ–Ω—å —ñ–∑ –∫–æ–¥–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤:

```python
df = pd.DataFrame({
    "order_id": [101, 102, 103, 104],
    "product_code": ["AB-12345", "CD-54321", "AB-67890", "XY-00000"]
})
```

**–ó–∞–¥–∞—á–∞:** –∑–Ω–∞–π—Ç–∏ –≤—Å—ñ —Ç–æ–≤–∞—Ä–∏, —â–æ –ø–æ—á–∏–Ω–∞—é—Ç—å—Å—è –Ω–∞ `AB-`.

In [ ]:
df = pd.DataFrame({
    "order_id": [101, 102, 103, 104, 105],
    "product_code": ["AB-12345", "CD-54321", "AB-67890", "XY-00000", "XB-12345"]
})
df

   order_id product_code
0       101     AB-12345
1       102     CD-54321
2       103     AB-67890
3       104     XY-00000
4       105     XB-12345

In [ ]:
df[df['product_code'].str.startswith('AB-')]

   order_id product_code
0       101     AB-12345
2       103     AB-67890

–ó–∞–¥–∞—á–∞: –∑–Ω–∞–π—Ç–∏ –≤—Å—ñ —Ç–æ–≤–∞—Ä–∏, —â–æ –ø–æ—á–∏–Ω–∞—é—Ç—å—Å—è –Ω–∞: 1–π —Å–∏–º–≤–æ–ª –∞–±–æ A –∞–±–æ X, 2–π - B.

In [ ]:
df[df['product_code'].str.contains(r'^[AXax][B]')]

   order_id product_code
0       101     AB-12345
2       103     AB-67890
4       105     XB-12345

## 4. **–ü–∞—Ä—Å–∏–Ω–≥ —Ç–µ–∫—Å—Ç—É –Ω–∞ –∫—ñ–ª—å–∫–∞ –∫–æ–ª–æ–Ω–æ–∫**

–£ –∫–æ–ª–æ–Ω—Ü—ñ `address` –∑–±–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è —Ä—è–¥–æ–∫:

```
"Kyiv, Khreshchatyk 12, 01001"
```

```python
df = pd.DataFrame({
    "address": [
        "Kyiv, Khreshchatyk 12, 01001",
        "Lviv, Svobody Ave 25, 79000"
    ]
})
```

**–ó–∞–¥–∞—á–∞:** —Ä–æ–∑–±–∏—Ç–∏ –Ω–∞ `city`, `street`, `postal_code`.

In [ ]:
df = pd.DataFrame({
    "address": [
        "Kyiv, Khreshchatyk 12, 01001",
        "Lviv, Svobody Ave 25, 79000"
    ]
})
df

                        address
0  Kyiv, Khreshchatyk 12, 01001
1   Lviv, Svobody Ave 25, 79000

In [ ]:
df[['city', 'street', 'post_index']] = df.address.str.extract(r'^([^,]+),\s*([^,]+),\s*(\d+)$')

In [ ]:
df

                        address  city           street post_index
0  Kyiv, Khreshchatyk 12, 01001  Kyiv  Khreshchatyk 12      01001
1   Lviv, Svobody Ave 25, 79000  Lviv   Svobody Ave 25      79000

## 5. **–í–∏–¥–∞–ª–µ–Ω–Ω—è HTML-—Ç–µ–≥—ñ–≤ —ñ–∑ —Ç–µ–∫—Å—Ç—É**

```python
df = pd.DataFrame({
    "review": [
        "<p>Good product!</p>",
        "<div>Average <b>quality</b></div>"
    ]
})
```

**–ó–∞–¥–∞—á–∞:** –æ—á–∏—Å—Ç–∏—Ç–∏ —Ç–µ–∫—Å—Ç –≤—ñ–¥ —Ç–µ–≥—ñ–≤.

In [ ]:
df = pd.DataFrame({
    "review": [
        "<p>Good product!</p>",
        "<div>Average <b>quality</b></div>"
    ]
})

df

                              review
0               <p>Good product!</p>
1  <div>Average <b>quality</b></div>

In [ ]:
df['review_clean'] = df.review.str.replace(r'<.*?>', '', regex=True)

In [ ]:
df

                              review     review_clean
0               <p>Good product!</p>    Good product!
1  <div>Average <b>quality</b></div>  Average quality

## 6. **–í–∏–¥—ñ–ª–µ–Ω–Ω—è –≤–∞–ª—é—Ç–∏ —Ç–∞ —Å—É–º–∏**

```python
df = pd.DataFrame({
    "price": ["USD 1200", "EUR 900", "UAH 45000"]
})
```

**–ó–∞–¥–∞—á–∞:** —Ä–æ–∑–±–∏—Ç–∏ –Ω–∞ `currency` —ñ `amount`.

In [ ]:
df = pd.DataFrame({
    "price": ["USD 1200", "EUR 900", "UAH 45000"]
})

In [ ]:
df[['currency', 'value']] = df.price.str.strip().str.extract(r'^(\w+)\s*(\d+)$')

In [ ]:
df

       price currency  value
0   USD 1200      USD   1200
1    EUR 900      EUR    900
2  UAH 45000      UAH  45000

# –ó–∞–¥–∞—á—ñ

## 1. **–ù–æ—Ä–º–∞–ª—ñ–∑–∞—Ü—ñ—è –Ω–æ–º–µ—Ä—ñ–≤ –±–∞–Ω–∫—ñ–≤—Å—å–∫–∏—Ö –∫–∞—Ä—Ç–æ–∫**

–£ –¥–∞–Ω–∏—Ö –Ω–æ–º–µ—Ä–∏ –∫–∞—Ä—Ç–æ–∫ –∑–∞–ø–∏—Å–∞–Ω—ñ —É —Ä—ñ–∑–Ω–æ–º—É –≤–∏–≥–ª—è–¥—ñ.  
**–ó–∞–¥–∞—á–∞:** –ø—Ä–∏–≤–µ—Å—Ç–∏ —ó—Ö –¥–æ —î–¥–∏–Ω–æ–≥–æ —Ñ–æ—Ä–º–∞—Ç—É `1234 5678 9012 3456`.

In [5]:
import pandas as pd

df = pd.DataFrame({
    "card_number": [
        "1234-5678-9012-3456",
        "1234 5678 9012 3456",
        "1234567890123456"
    ]
})

In [2]:
df

           card_number
0  1234-5678-9012-3456
1  1234 5678 9012 3456
2     1234567890123456

In [4]:
df['card_number_new'] = (df['card_number'].str.replace(r'\D', '', regex=True).
                         str.replace(r'(\d{4})(\d{4})(\d{4})(\d{4})', r'\1 \2 \3 \4', regex=True))
df['card_number_new']

0    1234 5678 9012 3456
1    1234 5678 9012 3456
2    1234 5678 9012 3456
Name: card_number_new, dtype: object

In [7]:
df['card_number_new'] = (df['card_number'].str.replace(r'\D', '', regex=True).
                         str.replace(r'(\d{4})', r'\1 ', regex=True).
                         str.strip()
)

df['card_number_new']

0    1234 5678 9012 3456
1    1234 5678 9012 3456
2    1234 5678 9012 3456
Name: card_number_new, dtype: object

## 2. **–í–∏–¥—ñ–ª–µ–Ω–Ω—è —ñ–º–µ–Ω—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞ –∑ email**
**–ó–∞–¥–∞—á–∞:** –æ—Ç—Ä–∏–º–∞—Ç–∏ —Ç—ñ–ª—å–∫–∏ —ñ–º‚Äô—è –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞ (–¥–æ —Å–∏–º–≤–æ–ª–∞ `@`).

In [8]:
df = pd.DataFrame({
    "email": ["anna.petrenko@company.com", "ivan1990@gmail.com", "data_analyst@org.ua"]
})

In [9]:
df

                       email
0  anna.petrenko@company.com
1         ivan1990@gmail.com
2        data_analyst@org.ua

In [11]:
df['username'] = df['email'].str.extract(r'(^.+)@')
df

                       email       username
0  anna.petrenko@company.com  anna.petrenko
1         ivan1990@gmail.com       ivan1990
2        data_analyst@org.ua   data_analyst

## 3. **–§—ñ–ª—å—Ç—Ä–∞—Ü—ñ—è –∑–∞ –∞—Ä—Ç–∏–∫—É–ª–æ–º —Ç–æ–≤–∞—Ä—É**
**–ó–∞–¥–∞—á–∞:** –≤–∏–±—Ä–∞—Ç–∏ —Ç—ñ–ª—å–∫–∏ —Ç—ñ —Ç–æ–≤–∞—Ä–∏, —â–æ –º–∞—é—Ç—å –∫–æ–¥ –ø–æ—á–∏–Ω–∞—î—Ç—å—Å—è –Ω–∞ `SKU-`.

In [12]:
df = pd.DataFrame({
    "product_code": ["SKU-001-A", "SKU-002-B", "PRD-999-X", "SKU-003-C"]
})

In [14]:
df[df["product_code"].str.startswith('SKU-')]

  product_code
0    SKU-001-A
1    SKU-002-B
3    SKU-003-C

## 4. **–ê–Ω–∞–ª—ñ–∑ –æ–¥–∏–Ω–∏—Ü—å –≤–∏–º—ñ—Ä—É (–≤–∞–≥–∞)**

–£ –¥–∞–Ω–∏—Ö –≤–∞–≥–∞ –≤–∫–∞–∑–∞–Ω–∞ —Ä–∞–∑–æ–º —ñ–∑ –æ–¥–∏–Ω–∏—Ü—è–º–∏ –≤–∏–º—ñ—Ä—É:  
**–ó–∞–¥–∞—á–∞ 1:** –¥—ñ–∑–Ω–∞—Ç–∏—Å—è, —è–∫—ñ —Å–∞–º–µ –æ–¥–∏–Ω–∏—Ü—ñ –≤–∏–º—ñ—Ä—É –∑—É—Å—Ç—Ä—ñ—á–∞—é—Ç—å—Å—è (—ñ —Å–∫—ñ–ª—å–∫–∏ —Ä–∞–∑—ñ–≤ –∫–æ–∂–Ω–∞).  
**–ó–∞–¥–∞—á–∞ 2:** –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–∏—Å–ª–æ–≤–µ –∑–Ω–∞—á–µ–Ω–Ω—è –æ–∫—Ä–µ–º–æ –≤—ñ–¥ –æ–¥–∏–Ω–∏—Ü—ñ.

In [15]:
df = pd.DataFrame({
    "weight": ["12 kg", "800 g", "1.5 kg", "300 g", "2 t", "750 g", "0.5 kg"]
})

In [16]:
df

   weight
0   12 kg
1   800 g
2  1.5 kg
3   300 g
4     2 t
5   750 g
6  0.5 kg

In [17]:
df['unit'] = df['weight'].str.extract(r'(\D+)$')
df['unit']

0     kg
1      g
2     kg
3      g
4      t
5      g
6     kg
Name: unit, dtype: object

In [18]:
df['value'] = df['weight'].str.extract(r'([\d\.]+)').astype('float')
df

   weight unit  value
0   12 kg   kg   12.0
1   800 g    g  800.0
2  1.5 kg   kg    1.5
3   300 g    g  300.0
4     2 t    t    2.0
5   750 g    g  750.0
6  0.5 kg   kg    0.5

In [ ]:
def convert(item):
  pass

df['weight_in_kg'] = df['value'].apply(convert)
df