<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_07_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Напишіть скрипт, який приймає рядок тексту і повертає словник, де ключами є слова, а значеннями – кількість входжень кожного слова в тексті.

In [3]:
from collections import Counter
text = 'Hello hello HELLO world'

text = text.lower().split()
result = Counter(text)
print(*result.items(), sep='\n')

('hello', 3)
('world', 1)

In [ ]:
import string
from collections import Counter

text = input("текст>> ")
words = text.split()
without_punctuation = []
for w in words:
    w = w.strip(string.punctuation).lower()
    if w:
        without_punctuation.append(w)
res = Counter(without_punctuation)
print(res)

In [4]:
x = 'Hello,,.world'
x.split(',.')

['Hello,', 'world']

In [5]:
import string
x = ',,,....Hello'
x.strip(string.punctuation)

'Hello'

In [6]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
x = 'Hello,,.world'.split()

In [9]:
x[0].strip(string.punctuation)

'Hello,,.world'

In [10]:
import string
from collections import Counter

text = input("текст>>").lower()
words = text.split()

words = map(lambda item: item.strip(string.punctuation), words)
res = Counter(words)
print(res)

текст>>Hello,,,,  words!
Counter({'hello': 1, 'words': 1})

In [ ]:
'World is big, but my Own world is small'


**Task 2.** Реалізуй простий перекладач, який використовує словник для збереження пар слів. Користувач може вводити слово, а застосунок повертає його переклад. У цьому випадку словник може використовуватися для збереження відповідностей між словами різними мовами. Приклад:

```python
translations = {
     'hello': 'привіт',
     'goodbye': 'до побачення',
     'cat': 'кіт',
     'dog': 'собака'
}
```

In [17]:
translations = {
     'hello': 'привіт',
     'goodbye': 'до побачення',
     'cat': 'кіт',
     'dog': 'собака'
}

word = input('слово>> ').lower().strip()
print(translations.get(word, 'No word'))

слово>>                                 Hello
привіт

In [20]:
translations = {
     'hello': 'привіт',
     'goodbye': 'до побачення',
     'cat': 'кіт',
     'dog': 'собака'
}

word = input('слово>> ').lower().strip()

if word in translations:
    print(translations[word])
else:
    for key, value in translations.items():
        if word == value:
            print(key)
            break
    else:
        print('No word')

слово>> труляля
No word


**Task 3.** Дано два списки: назви продуктів і їхні ціни.

```python
products = ["Яблуко", "Банан", "Груша"]
prices = [100, 80, 120]
```

Створіть словник, де ключами будуть назви продуктів, а значеннями — їхні ціни.

In [21]:
products = ["Яблуко", "Банан", "Груша"]
prices = [100, 80, 120]

res = { products[i]: prices[i] for i in range(len(products))}
print(res)

{'Яблуко': 100, 'Банан': 80, 'Груша': 120}

In [23]:
x = [1, 2, 3, 4]
y = ['one', 'two', 'three', 'four']
z = ['bir', 'uch']

list(zip(x, y, z))

[(1, 'one', 'bir'), (2, 'two', 'uch')]

In [25]:
products = ["Яблуко", "Банан", "Груша"]
prices = [100, 80, 120]

dict(zip(products, prices))

{'Яблуко': 100, 'Банан': 80, 'Груша': 120}

**Task 4.** Дано список клієнтів, кожен клієнт представлений словником з полями: `"id"`, `"ім'я"`, `"вік"`, `"місто"`.

```python
[
    {"id": 1, "ім'я": "Анна", "вік": 25, "місто": "Берлін"},
    {"id": 2, "ім'я": "Іван", "вік": 30, "місто": "Берлін"},
    {"id": 3, "ім'я": "Ольга", "вік": 22, "місто": "Відень"}
]
```

Напишіть скрипт, який формує словник, у якому ключі — міста, а значення — клієнти (список) з цих міст.

In [27]:
data = [
    {"id": 1, "ім'я": "Анна", "вік": 25, "місто": "Берлін"},
    {"id": 2, "ім'я": "Іван", "вік": 30, "місто": "Берлін"},
    {"id": 3, "ім'я": "Ольга", "вік": 22, "місто": "Відень"}
]

result = {}

for item in data:
    city = item['місто']
    if city not in result:
        result[city] = []
    result[city].append(item["ім'я"])

print(result)

{'Берлін': ['Анна', 'Іван'], 'Відень': ['Ольга']}

In [29]:
from collections import defaultdict

data = [
    {"id": 1, "ім'я": "Анна", "вік": 25, "місто": "Берлін"},
    {"id": 2, "ім'я": "Іван", "вік": 30, "місто": "Берлін"},
    {"id": 3, "ім'я": "Ольга", "вік": 22, "місто": "Відень"}
]

result = defaultdict(list)

for item in data:
    city = item['місто']
    result[city].append(item["ім'я"])

print(result)

defaultdict(<class 'list'>, {'Берлін': ['Анна', 'Іван'], 'Відень': ['Ольга']})

**Task 5.** Дано список працівників, де кожен працівник представлений словником з полями `"ім'я"`, `"відділ"`.

```python
[
    {"ім'я": "Анна", "відділ": "Маркетинг"},
    {"ім'я": "Іван", "відділ": "Продажі"},
    {"ім'я": "Ольга", "відділ": "Маркетинг"}
]
```

Створіть скрипт, який групує працівників за відділами.

In [34]:
data = [
    {"ім'я": "Анна", "відділ": "Маркетинг"},
    {"ім'я": "Іван", "відділ": "Продажі"},
    {"ім'я": "Ольга", "відділ": "Маркетинг"}
]

res = defaultdict(list)

for item in data:
    department = item['відділ']
    res[department].append(item['ім\'я'])

print(res)

defaultdict(<class 'list'>, {'Маркетинг': ['Анна', 'Ольга'], 'Продажі': ['Іван']})

**Task 6.** Дано словник з даними щодо продажів, де ключі — дні місяця, а значення — сума продажу.

```python
{
    1: 500, 2: 700, 3: 300, 4: 800, 5: 200
}
```

Знайдіть дні з найбільшими відхиленнями від середнього значення.

In [35]:
import statistics
data = {
    1: 500, 2: 700, 3: 300, 4: 800, 5: 200
}

avg = statistics.mean(data.values())
avg

500

In [36]:
d = [abs(value - avg) for key, value in data.items()]
d

[0, 200, 200, 300, 300]

In [38]:
max_v = max(d)
for i, item in enumerate(d, start=1):
  if item == max_v:
    print(i)

4
5

In [30]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/cpython-projects/da_1709/refs/heads/main/Walmart.csv')

In [31]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [33]:
df['Store'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])