<a href="https://colab.research.google.com/github/cpython-projects/python_da_06_11_25/blob/main/lesson_14_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üè† –†–æ–∑–≤—ñ–¥–∫–∞ —Ç–∞ –¥—ñ–∞–≥–Ω–æ—Å—Ç–∏–∫–∞ —è–∫–æ—Å—Ç—ñ –¥–∞–Ω–∏—Ö

**–î–∞—Ç–∞—Å–µ—Ç:** [House Sales in King County, USA (Kaggle)](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)
–§–∞–π–ª: `kc_house_data.csv`

---

### üéØ –ú–µ—Ç–∞ –∑–∞–≤–¥–∞–Ω–Ω—è

–ü—Ä–æ–≤–µ—Å—Ç–∏ **–ø–µ—Ä–≤–∏–Ω–Ω–∏–π –∞–Ω–∞–ª—ñ–∑ —ñ –¥—ñ–∞–≥–Ω–æ—Å—Ç–∏–∫—É –¥–∞–Ω–∏—Ö**, –≤–∏—è–≤–∏—Ç–∏ **–ø—Ä–æ–±–ª–µ–º–Ω—ñ –æ–∑–Ω–∞–∫–∏ (—Å—Ç–æ–≤–ø—Ü—ñ)** —Ç–∞ –æ–ø–∏—Å–∞—Ç–∏ —Ç–∏–ø–æ–≤—ñ **–ø–æ–º–∏–ª–∫–∏ —ñ –º–æ–∂–ª–∏–≤—ñ —Å–ø–æ—Å–æ–±–∏ —ó—Ö –≤–∏–ø—Ä–∞–≤–ª–µ–Ω–Ω—è**.

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 1. –ü–µ—Ä–≤–∏–Ω–Ω–µ –∑–Ω–∞–π–æ–º—Å—Ç–≤–æ

1. –ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç `kc_house_data.csv`.
2. –í–∏–≤–µ–¥—ñ—Ç—å –∑–∞–≥–∞–ª—å–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –ø—Ä–æ –¥–∞–Ω—ñ (`.info()`).
3. –ü–æ–¥–∏–≤—ñ—Ç—å—Å—è –ø–µ—Ä—à—ñ 5 —Ä—è–¥–∫—ñ–≤ (`.head()`).
4. –î—ñ–∑–Ω–∞–π—Ç–µ—Å—è –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ä—è–¥–∫—ñ–≤ —Ç–∞ —Å—Ç–æ–≤–ø—Ü—ñ–≤.

**–ü–∏—Ç–∞–Ω–Ω—è:**

* –°–∫—ñ–ª—å–∫–∏ –≤—Å—å–æ–≥–æ –æ–∑–Ω–∞–∫ —ñ —Å–ø–æ—Å—Ç–µ—Ä–µ–∂–µ–Ω—å?
* –ß–∏ —î –æ–∑–Ω–∞–∫–∏, —è–∫—ñ –≤–∏–≥–ª—è–¥–∞—é—Ç—å —è–∫ —á–∏—Å–ª–æ–≤—ñ, –∞–ª–µ –Ω–∞—Å–ø—Ä–∞–≤–¥—ñ —î —Ä—è–¥–∫–æ–≤–∏–º–∏ (–∞–±–æ –Ω–∞–≤–ø–∞–∫–∏)?

In [1]:
from google.colab import files
uploaded = files.upload()

Saving kc_house_data.csv to kc_house_data.csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
df.shape

(21613, 21)

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 2. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª—ñ–∫–∞—Ç–∏

1. –ó–Ω–∞–π–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–≤–Ω–∏—Ö –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤ —Ä—è–¥–∫—ñ–≤.
2. –Ø–∫—â–æ –¥—É–±–ª—ñ–∫–∞—Ç–∏ —î ‚Äî –ø–æ–∫–∞–∂—ñ—Ç—å –ø—Ä–∏–∫–ª–∞–¥–∏.
3. –í–∏—Ä—ñ—à—ñ—Ç—å, —á–∏ –≤–∞—Ä—Ç–æ —ó—Ö –≤–∏–¥–∞–ª—è—Ç–∏ —ñ —á–æ–º—É.

In [7]:
df.duplicated().sum()

np.int64(0)

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 3. –ê–Ω–∞–ª—ñ–∑ –ø—Ä–æ–ø—É—Å–∫—ñ–≤

1. –ü–æ—Ä–∞—Ö—É–π—Ç–µ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É —Å—Ç–æ–≤–ø—Ü—é.
2. –ü–æ–±—É–¥—É–π—Ç–µ —Ä–µ–π—Ç–∏–Ω–≥ —Å—Ç–æ–≤–ø—Ü—ñ–≤ –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø—Ä–æ–ø—É—Å–∫—ñ–≤ (–≤—ñ–¥ –±—ñ–ª—å—à–æ–≥–æ –¥–æ –º–µ–Ω—à–æ–≥–æ).
3. –ó–Ω–∞–π–¥—ñ—Ç—å –æ–∑–Ω–∞–∫–∏, –¥–µ –ø—Ä–æ–ø—É—Å–∫—ñ–≤ **–±—ñ–ª—å—à–µ 20%**.
4. –ü—Ä–æ–∫–æ–º–µ–Ω—Ç—É–π—Ç–µ: —è–∫—ñ –∑ —Ü–∏—Ö –æ–∑–Ω–∞–∫ –º–æ–∂–Ω–∞ –≤–∏–¥–∞–ª–∏—Ç–∏, –∞ —è–∫—ñ –≤–∞—Ä—Ç–æ —Å–ø—Ä–æ–±—É–≤–∞—Ç–∏ –≤—ñ–¥–Ω–æ–≤–∏—Ç–∏?

In [12]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 4. –¢–∏–ø–∏ –¥–∞–Ω–∏—Ö

1. –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ, —á–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—é—Ç—å —Ç–∏–ø–∏ –¥–∞–Ω–∏—Ö –≤–º—ñ—Å—Ç—É.
2. –ó–Ω–∞–π–¥—ñ—Ç—å –æ–∑–Ω–∞–∫–∏, —É —è–∫–∏—Ö:

   * —á–∏—Å–ª–æ–≤–∏–π —Ç–∏–ø, –∞–ª–µ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏–π —Å–µ–Ω—Å;
   * —Ä—è–¥–∫–æ–≤–∏–π —Ç–∏–ø, –∞–ª–µ –º–æ–∂–ª–∏–≤–æ –º—ñ—Å—Ç—è—Ç—å —á–∏—Å–ª–∞.
3. –ó–∞–ø—Ä–æ–ø–æ–Ω—É–π—Ç–µ, –¥–µ –ø–æ—Ç—Ä—ñ–±–Ω–æ –∑–º—ñ–Ω–∏—Ç–∏ —Ç–∏–ø (`astype`, `pd.to_numeric`, `category` —Ç–æ—â–æ).

In [13]:
df.date.unique()

array(['20141013T000000', '20141209T000000', '20150225T000000',
       '20150218T000000', '20140512T000000', '20140627T000000',
       '20150115T000000', '20150415T000000', '20150312T000000',
       '20150403T000000', '20140527T000000', '20140528T000000',
       '20141007T000000', '20150124T000000', '20140731T000000',
       '20140529T000000', '20141205T000000', '20150424T000000',
       '20140514T000000', '20140826T000000', '20140703T000000',
       '20140516T000000', '20141120T000000', '20141103T000000',
       '20140626T000000', '20141201T000000', '20140624T000000',
       '20150302T000000', '20141110T000000', '20141203T000000',
       '20140613T000000', '20141230T000000', '20150213T000000',
       '20140620T000000', '20140715T000000', '20140811T000000',
       '20140707T000000', '20141028T000000', '20140729T000000',
       '20140718T000000', '20150325T000000', '20140716T000000',
       '20150428T000000', '20150311T000000', '20140916T000000',
       '20150217T000000', '20141231T000000', '20150205T000000',
       '20150303T000000', '20140819T000000', '20150407T000000',
       '20140827T000000', '20150223T000000', '20141210T000000',
       '20140828T000000', '20141021T000000', '20141207T000000',
       '20140603T000000', '20140909T000000', '20141009T000000',
       '20140825T000000', '20140612T000000', '20140912T000000',
       '20150105T000000', '20140610T000000', '20140710T000000',
       '20150316T000000', '20141105T000000', '20150420T000000',
       '20140609T000000', '20150323T000000', '20141202T000000',
       '20141222T000000', '20150128T000000', '20140602T000000',
       '20141114T000000', '20140618T000000', '20140519T000000',
       '20140904T000000', '20140522T000000', '20150226T000000',
       '20140725T000000', '20141223T000000', '20140908T000000',
       '20150330T000000', '20140711T000000', '20140611T000000',
       '20141027T000000', '20141212T000000', '20140924T000000',
       '20150402T000000', '20140523T000000', '20140723T000000',
       '20150305T000000', '20150304T000000', '20141124T000000',
       '20141121T000000', '20140623T000000', '20150108T000000',
       '20150511T000000', '20150102T000000', '20141119T000000',
       '20150406T000000', '20141104T000000', '20140717T000000',
       '20150126T000000', '20140813T000000', '20140805T000000',
       '20140507T000000', '20140708T000000', '20150508T000000',
       '20150227T000000', '20140625T000000', '20140806T000000',
       '20141030T000000', '20140820T000000', '20150409T000000',
       '20150331T000000', '20150401T000000', '20140728T000000',
       '20140807T000000', '20141113T000000', '20141003T000000',
       '20150309T000000', '20140812T000000', '20141208T000000',
       '20150219T000000', '20150324T000000', '20140605T000000',
       '20140502T000000', '20150116T000000', '20140929T000000',
       '20150210T000000', '20140709T000000', '20140530T000000',
       '20141117T000000', '20150107T000000', '20150414T000000',
       '20140905T000000', '20140505T000000', '20150418T000000',
       '20140818T000000', '20140515T000000', '20141111T000000',
       '20150113T000000', '20141014T000000', '20141112T000000',
       '20140804T000000', '20140919T000000', '20141123T000000',
       '20150422T000000', '20150114T000000', '20150221T000000',
       '20141023T000000', '20140822T000000', '20140918T000000',
       '20140903T000000', '20140604T000000', '20150413T000000',
       '20140616T000000', '20140902T000000', '20150320T000000',
       '20140701T000000', '20141001T000000', '20150127T000000',
       '20150427T000000', '20150212T000000', '20150314T000000',
       '20140923T000000', '20140513T000000', '20150421T000000',
       '20141020T000000', '20150211T000000', '20140829T000000',
       '20141024T000000', '20141216T000000', '20140814T000000',
       '20150504T000000', '20150501T000000', '20141017T000000',
       '20140925T000000', '20150505T000000', '20150513T000000',
       '20140630T000000', '20150410T000000', '20150209T000000',
       '20140702T000000', '20150224T000000', '20141022T000000',
       '20141002T000000', '20140619T000000', '20150228T000000',
       '20150408T000000', '20141122T000000', '20140721T000000',
       '20150202T000000', '20150416T000000', '20140722T000000',
       '20141106T000000', '20141229T000000', '20140922T000000',
       '20141006T000000', '20140917T000000', '20150130T000000',
       '20150326T000000', '20150423T000000', '20141204T000000',
       '20140520T000000', '20150429T000000', '20150313T000000',
       '20150121T000000', '20140801T000000', '20150430T000000',
       '20150306T000000', '20150417T000000', '20140911T000000',
       '20150318T000000', '20140730T000000', '20141219T000000',
       '20140506T000000', '20150512T000000', '20140821T000000',
       '20150319T000000', '20150502T000000', '20150222T000000',
       '20141126T000000', '20141015T000000', '20150106T000000',
       '20140808T000000', '20140901T000000', '20140614T000000',
       '20150510T000000', '20140521T000000', '20140508T000000',
       '20141029T000000', '20150507T000000', '20140906T000000',
       '20141008T000000', '20150310T000000', '20141217T000000',
       '20141218T000000', '20150123T000000', '20141211T000000',
       '20140930T000000', '20150204T000000', '20150206T000000',
       '20140617T000000', '20150506T000000', '20140622T000000',
       '20140815T000000', '20141118T000000', '20140802T000000',
       '20141016T000000', '20140712T000000', '20140910T000000',
       '20140509T000000', '20141215T000000', '20141107T000000',
       '20140714T000000', '20140615T000000', '20140926T000000',
       '20140606T000000', '20150122T000000', '20150317T000000',
       '20141125T000000', '20141010T000000', '20141226T000000',
       '20150120T000000', '20150514T000000', '20150112T000000',
       '20140724T000000', '20150425T000000', '20150220T000000',
       '20140915T000000', '20140517T000000', '20150426T000000',
       '20150109T000000', '20150419T000000', '20140511T000000',
       '20140524T000000', '20150214T000000', '20150503T000000',
       '20140601T000000', '20141031T000000', '20150327T000000',
       '20140621T000000', '20141018T000000', '20141220T000000',
       '20150203T000000', '20150129T000000', '20140726T000000',
       '20140719T000000', '20141221T000000', '20140628T000000',
       '20140720T000000', '20150119T000000', '20141224T000000',
       '20140526T000000', '20140816T000000', '20140927T000000',
       '20140706T000000', '20141214T000000', '20141005T000000',
       '20150412T000000', '20141115T000000', '20141108T000000',
       '20141101T000000', '20140525T000000', '20140831T000000',
       '20140907T000000', '20150329T000000', '20141019T000000',
       '20140629T000000', '20140504T000000', '20150404T000000',
       '20141116T000000', '20150216T000000', '20140531T000000',
       '20141004T000000', '20140518T000000', '20141109T000000',
       '20150315T000000', '20150405T000000', '20140510T000000',
       '20150207T000000', '20140608T000000', '20141213T000000',
       '20140809T000000', '20150321T000000', '20141012T000000',
       '20150515T000000', '20140817T000000', '20140704T000000',
       '20140913T000000', '20150307T000000', '20150411T000000',
       '20140810T000000', '20141206T000000', '20150509T000000',
       '20140803T000000', '20140928T000000', '20140503T000000',
       '20140713T000000', '20140705T000000', '20141025T000000',
       '20141128T000000', '20150328T000000', '20150301T000000',
       '20140920T000000', '20141102T000000', '20150125T000000',
       '20140921T000000', '20150110T000000', '20140823T000000',
       '20141026T000000', '20141129T000000', '20140607T000000',
       '20150524T000000', '20150131T000000', '20141227T000000',
       '20150117T000000', '20140914T000000', '20150308T000000',
       '20140830T000000', '20150527T000000', '20150322T000000',
       '20150215T000000', '20141011T000000', '20150201T000000',
       '20141130T000000', '20140824T000000', '20140727T000000'],
      dtype=object)

In [16]:
df['date'] = pd.to_datetime(df['date'])

In [17]:
df['waterfront'].unique()

array([0, 1])

In [18]:
df['waterfront'] = df['waterfront'].astype('bool')

In [19]:
df['view'].unique()

array([0, 3, 4, 2, 1])

In [20]:
df['view'] = pd.Categorical(df['view'], ordered=True, categories=[0, 1, 2, 3, 4])

In [21]:
df['grade'].unique()

array([ 7,  6,  8, 11,  9,  5, 10, 12,  4,  3, 13,  1])

In [22]:
grades = list(range(1, 14))
df['grade'] = pd.Categorical(df['grade'], ordered=True, categories=grades)

In [23]:
grades

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [24]:
df['condition'].unique()

array([3, 5, 4, 1, 2])

In [27]:
df['condition'] = pd.Categorical(df['condition'], ordered=True, categories=[1, 2, 3, 4, 5])

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 5. –ë–∞–∑–æ–≤–∞ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞

1. –î–ª—è —á–∏—Å–ª–æ–≤–∏—Ö —Å—Ç–æ–≤–ø—Ü—ñ–≤ –æ–±—á–∏—Å–ª—ñ—Ç—å:

   * —Å–µ—Ä–µ–¥–Ω—î (`mean`),
   * –º–µ–¥—ñ–∞–Ω—É (`median`),
   * –º—ñ–Ω—ñ–º—É–º —ñ –º–∞–∫—Å–∏–º—É–º.
2. –ó–Ω–∞–π–¥—ñ—Ç—å –∞–Ω–æ–º–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –Ω—É–ª—ñ —Ç–∞–º, –¥–µ —ó—Ö –±—É—Ç–∏ –Ω–µ –ø–æ–≤–∏–Ω–Ω–æ: –ø–ª–æ—â–∞, –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫—ñ–º–Ω–∞—Ç —Ç–æ—â–æ; —Å–µ—Ä–µ–¥–Ω—î —ñ –º–µ–¥—ñ–∞–Ω–∞ –∑–Ω–∞—á–Ω–æ –≤—ñ–¥—Ä—ñ–∑–Ω—è—é—Ç—å—Å—è).
3. –ù–∞–≤–µ–¥—ñ—Ç—å **2‚Äì3 –ø—Ä–∏–∫–ª–∞–¥–∏ –ø—ñ–¥–æ–∑—Ä—ñ–ª–∏—Ö –æ–∑–Ω–∞–∫**.

In [28]:
df.describe()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,2014-10-29 04:38:01.959931648,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
min,1.000102e+06,2014-05-02 00:00:00,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,2014-07-22 00:00:00,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,2014-10-16 00:00:00,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,2015-02-17 00:00:00,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,2015-05-27 00:00:00,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631

In [29]:
df['price'].skew()

np.float64(4.024069144684712)

### üîπ –ß–∞—Å—Ç–∏–Ω–∞ 6. –Ü–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü—ñ—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤

–°–∫–ª–∞–¥—ñ—Ç—å –∫–æ—Ä–æ—Ç–∫–∏–π **–∑–≤—ñ—Ç (5‚Äì7 —Ä–µ—á–µ–Ω—å)**:

* –Ø–∫—ñ —Ç–∏–ø–∏ –ø—Ä–æ–±–ª–µ–º –≤–∏ –≤–∏—è–≤–∏–ª–∏?
* –°–∫—ñ–ª—å–∫–∏ –æ–∑–Ω–∞–∫ –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω–æ –ø–æ—Ç—Ä–µ–±—É—é—Ç—å –ø–µ—Ä–µ—Ç–≤–æ—Ä–µ–Ω–Ω—è –∞–±–æ –æ—á–∏—Å—Ç–∫–∏?
* –Ø–∫—ñ —Ç—Ä–∏ –æ–∑–Ω–∞–∫–∏ –≤–∏ –± —Ç–æ—á–Ω–æ **–≤–∏–¥–∞–ª–∏–ª–∏ –∞–±–æ –≤–∏–ø—Ä–∞–≤–∏–ª–∏ –≤ –ø–µ—Ä—à—É —á–µ—Ä–≥—É**, —ñ —á–æ–º—É?